<% include partials/header.ejs %>
<script>
    function deleteConfirm(event) {
        if (!confirm("Delete author?")) {
            event.preventDefault();
        }
    }
</script>

</head>
<body class="text-center">

<h1 class="jumbotron"> Admin Section </h1>

<form action="/addAuthor">
    <button class="btn btn-outline-primary"> Add New Author</button>
</form>

<h3>Authors</h3>

<% authorList.forEach(function(author){ %>

    <a href="/updateAuthor?authorId=<%= author.authorId %>" class="btn btn-secondary btn-sm active">UPDATE</a>
    <a href="/deleteAuthor?authorId=<%= author.authorId %>" class="btn btn-secondary btn-sm active">DELETE</a>

    <%= author.firstName %> <%= author.lastName %> <br>
<% }) %>

<%= typeof (message) != "undefined" ? message : "" %>

<br><br>
<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>

<br><br>
<% include partials/footer %>